@import './base.css';

html {
    --text-color-normal: rgb(72, 72, 72);
}

#app {
    font-family: 'Poiret One' !important;

    background-color: white;
    color: var(--text-color-normal);
}

.section {
    width: 85vw;
    max-width: 2000px;
    margin: auto;

    font-family: 'Roboto Condensed';

    padding: 90px 0px;
}
.section-header {
    text-align: center;
    text-decoration: underline;
    font-size: 42px;
    font-family: 'Patua One';

    color: black;

    /* margin: 90px 0px 10px 0px; */
}
.section a {
    color: rgb(65, 62, 62);
}
