@import './base.css';

html {
    --text-color-normal: rgb(72, 72, 72);
}

#app {
    font-family: 'Poiret One' !important;

    background-color: white;
    color: var(--text-color-normal);
}

.section {
    font-family: 'Roboto Condensed';

    padding: 90px 0px;
}
.section:nth-child(even) {
    background-color: rgba(217, 217, 217, 0.4);
}
.section > div {
    width: calc(100vw - 100px);
    max-width: 1400px;
    margin: auto;
}
.section-header {
    text-align: center;
    text-decoration: underline;
    font-size: 42px;
    font-family: 'Patua One';

    color: black;

    /* margin: 90px 0px 10px 0px; */
}
.section a {
    color: rgb(65, 62, 62);
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
