@import './base.css';

html {
    --text-color-normal: rgb(72, 72, 72);
    --text-title-size: calc(20px * 1.6);
    --text-body-size: 20px;

    --text-section-title-size: calc(26px * 1.6);
    --text-section-sub-size: 26px;
}

#app {
    font-family: 'Roboto Condensed';

    background-color: white;
    color: var(--text-color-normal);
}

.text-title {
    font-size: var(--text-title-size);
}
.text-body {
    font-size: var(--text-body-size);
}

a {
    color: rgb(65, 62, 62);
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: rgb(37, 36, 36);
}

.text-center {
    text-align: center;
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clickable {
    cursor: pointer;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.red-text {
    color: #f44336;
}
.cyan-text {
    color: #00bcd4;
}
.orange-text {
    color: #ff9800;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}
.col-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media only screen and (max-width: 1400px) {
    .col-md-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }
    .col-md-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .col-md-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .col-sm-1 {
        flex: 0 0 8.33%;
        max-width: 8.33%;
    }
    .col-sm-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .col-sm-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
